<img src="assets/images/logo.png">

<div class="content">
  <button appButton matRipple class="custom" (click)="back()">Назад к проектам</button>
  <!--  <ng-content></ng-content>-->
</div>

<!--<div class="tools">-->
<!--  <div class="coop" (click)="cursorsService.changeCoopMode()">-->
<!--    <mat-icon class="coop__img" [ngClass]="{'coop__active': cursorsService.isCoop}">groups</mat-icon>-->
<!--  </div>-->

<!--  <button mat-icon-button class="margin-left">-->
<!--    <mat-icon class="coop__img">grid_4x4</mat-icon>-->
<!--  </button>-->

<!--</div>-->
