@import "src/styles";

:host {
  @include flex-container('row', 'center');
}

.content {
  margin-left: $margin-xl;
  color: $primary-1;
}

.coop {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;

  &__img {
    width: 100%;
    height: 100%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grayscale-6;
  }

  &__active {
    color: $primary-1;
  }

}

.tools {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.custom {
  //height: 35px;
}
