<div class="container">

  <div class="margin-bottom container-name">
    <ng-content select="app-graphic-component-container-name"></ng-content>
  </div>

  <div class="container-content container-content_light margin-top margin-bottom">

    <div class="themes" *ngIf="hasTheme">

      <div class="theme themes-dark" (click)="control.select('dark')">
        <mat-icon class="icon" *ngIf="control.selected.includes('dark')">check</mat-icon>
      </div>

      <div class="theme themes-light" (click)="control.select('light')">
        <mat-icon class="icon" *ngIf="control.selected.includes('light')">check</mat-icon>
      </div>

    </div>

    <ng-content select="app-graphic-component-container-content"></ng-content>
  </div>

  <div class="margin-top container-description">
    <ng-content select="app-graphic-component-container-description"></ng-content>
  </div>

</div>
