<div class="toolbar">

  <button mat-icon-button class="margin-bottom icon-button" color="primary" (click)="cursorsService.changeCoopMode()">
    <mat-icon class="icon" [ngClass]="{'active': cursorsService.isCoop}">
      groups
    </mat-icon>
  </button>

  <button mat-icon-button class="margin-bottom icon-button" (click)="switchBootstrap()">
    <mat-icon class="icon" [ngClass]="{'active': globalOptions.bootstrap}">
      grid_4x4
    </mat-icon>
  </button>

  <button mat-icon-button class="margin-bottom icon-button">
    <mat-icon class="icon">
      chat_bubble
    </mat-icon>
  </button>

  <button mat-icon-button class="margin-bottom icon-button" (click)="toggleToolbar()" >
    <mat-icon class="icon" [ngClass]="{'active': toolbarIsOpen$ | async}" >
      reorder
    </mat-icon>
  </button>
</div>
