<div class="platform">
  <app-graphic-component-container class="platform-card" cdkDropList>
    <app-graphic-component-container-name>
      Заголовок
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content">
      <app-header-text cdkDrag
          class="color"
          (cdkDragDropped)="handleHeaderDrop($event)"
          (cdkDragStarted)="handleStartedPoint($event)">
      </app-header-text>
    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Кнопки использвуются для основных взаимодействий с пользователями
    </app-graphic-component-container-description>
  </app-graphic-component-container>

  <app-graphic-component-container class="platform-card" cdkDropList>
    <app-graphic-component-container-name>
      Фрагмент текста
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content">
      <app-text cdkDrag
          class="color"
          (cdkDragDropped)="handleTextDrop($event)"
          (cdkDragStarted)="handleStartedPoint($event)">
      </app-text>
    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Кнопки использвуются для основных взаимодействий с пользователями
    </app-graphic-component-container-description>
  </app-graphic-component-container>

</div>