<div class="platform">
  <app-graphic-component-container class="platform-card" cdkDropList>
    <app-graphic-component-container-name>
      Инпут
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content">
      <app-input cdkDrag
                 contenteditable="true"
                 (cdkDragDropped)="handleInputDrop($event)"
                 (cdkDragStarted)="handleStartedPoint($event)">
      </app-input>
    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Инпут используется для ввода однострочного текста
    </app-graphic-component-container-description>
  </app-graphic-component-container>

  <app-graphic-component-container class="platform-card" cdkDropList>
    <app-graphic-component-container-name>
      Селектор
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content">
      <app-select cdkDrag
                 contenteditable="true"
                 (cdkDragDropped)="handleSelectorDrop($event)"
                 (cdkDragStarted)="handleStartedPoint($event)">
      </app-select>
    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Селектор используется для выбора подтверждения
    </app-graphic-component-container-description>
  </app-graphic-component-container>
</div>
