<div class="container" cdkScrollable>

  <div class="container-text">
    <p class="container-text-title margin-right">Компоненты</p>
    <app-badge>64</app-badge>
  </div>

  <div class="chips-container">
    <app-chips-container class="chips" [control]="control">
      <app-chip class="chips-chip">Платформа</app-chip>
      <app-chip class="chips-chip">Контролы</app-chip>
      <app-chip class="chips-chip">Поле ввода</app-chip>
    </app-chips-container>
  </div>

  <div class="container-content">
    <app-platform *ngIf="control.selected.includes('Платформа')"></app-platform>
    <app-form-fields *ngIf="control.selected.includes('Поле ввода')"></app-form-fields>
    <app-controls *ngIf="control.selected.includes('Контролы')"></app-controls>
  </div>

</div>
