<div class="container" cdkScrollable>

  <div class="container-text">
    <p class="container-text-title margin-right">Компоненты</p>
    <app-badge>64</app-badge>
  </div>

  <div class="chips-container">
    <app-chips-container class="chips" [control]="control">
      <app-chip class="chips-chip">Платформа</app-chip>
      <app-chip class="chips-chip">Tesdsft</app-chip>
      <app-chip class="chips-chip">Tesdft</app-chip>
      <app-chip class="chips-chip">Tessdft</app-chip>
      <app-chip class="chips-chip">Tessdft</app-chip>
      <app-chip class="chips-chip">Tesdsft</app-chip>
      <app-chip class="chips-chip">Tesdft</app-chip>
      <app-chip class="chips-chip">Tessdft</app-chip>
      <app-chip class="chips-chip">Tessdft</app-chip>
    </app-chips-container>
  </div>

  <div class="container-content">
      <app-platform></app-platform>
  </div>

</div>
