<div class="desktop">

  <ng-container *ngIf="globalOptions.bootstrap">
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
    <div class="bootstrap"></div>
  </ng-container>

</div>
