<div class="platform">
  <app-graphic-component-container class="platform-card" cdkDropList #contentComponent [hasTheme]="true">
    <app-graphic-component-container-name>
      Переключатель
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content">
      <app-toggle cdkDrag
                  *ngIf="contentComponent.control.selected.includes('light')"
                  (cdkDragDropped)="handleSwitchDrop($event)"
                  (cdkDragStarted)="handleStartedPoint($event)">
      </app-toggle>

      <app-dark-toggle cdkDrag
                       *ngIf="contentComponent.control.selected.includes('dark')"
                       (cdkDragDropped)="handleDarkSwitchDrop($event)"
                       (cdkDragStarted)="handleStartedPoint($event)">
      </app-dark-toggle>

    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Кнопки использвуются для основных взаимодействий с пользователями
    </app-graphic-component-container-description>
  </app-graphic-component-container>

</div>
