<div class="platform">
  <app-graphic-component-container class="platform-card" cdkDropList>
    <app-graphic-component-container-name>
      Кнопка
    </app-graphic-component-container-name>

    <app-graphic-component-container-content class="platform-card-content">
      <app-button cdkDrag
                 (cdkDragDropped)="handleButtonDrop($event)"
                 (cdkDragStarted)="handleStartedPoint($event)">Кнопка
      </app-button>
    </app-graphic-component-container-content>

    <app-graphic-component-container-description>
      Кнопки использвуются для основных взаимодействий с пользователями
    </app-graphic-component-container-description>
  </app-graphic-component-container>

</div>
