@import "src/styles/colors";
@import "src/styles/typography";

.select {
  width: 100%;
  height: 48px;
  @include body-m($grayscale-1);
  outline: none;
  cursor: pointer;
  position: relative;
}

.select__content {
  width: 100%;
  height: 100%;
  padding: 0 0 0 12px;
  border-radius: 7px;
  background-color: $grayscale-9;
  border: none;
  cursor: pointer !important;
  outline: none;
}

.select__list {
  position: absolute;
  top: 100%;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $grayscale-10;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 10%);
}

.select__var {
  width: 100%;
  height: 48px;
  padding: 10px;
}

.select__icon {
  color: rgba(16, 24, 40, 0.7);
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.3s;
}

.select__var:hover {
  width: 100%;
  height: 48px;
  background-color: $grayscale-9;
}

.select__content:focus {
  outline: none;
}

.select__label {
  display: block;
  color: rgba(16, 24, 40, 0.7);
  transform: translateY(-2rem);
  padding-left: 12px;
  line-height: 1rem;
  transition: 150ms ease-in-out;
  cursor: pointer !important;
}

.select__content:focus + label {
  font-size: 10px;
  transform: translateY(-2.9rem);
}

.select__content:valid + label {
  font-size: 10px;
  transform: translateY(-2.9rem);
}
