<div class="board">

  <svg #container width="70%" height="100vh" class="board-container">

    <foreignObject *ngFor="let owner of cursorsService.cursorOwners$ | async"
                    [style.x]="(cursorsService.getCursorByName(owner) | async).x"
                    [style.y]="(cursorsService.getCursorByName(owner) | async).y"
                    width="500px"
                    height="150px">
      <app-cursor [name]="owner"></app-cursor>
    </foreignObject>
  </svg>

  <app-toolbar class="toolbar"></app-toolbar>
  <app-element-list *ngIf="toolbarIsOpen$ | async" class="list"></app-element-list>
  <app-sidebar class="sidebar"></app-sidebar>

</div>
